<div class="nested-fields">

  <div class="field">
  <%= f.label :ingredient_id%>
  <%=f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
  </div>

  <div class="field">
  <%= f.label :quantity%>
  <%=f.number_field :quantity%>
  </div>

  <div id="ingredients">
    <%=f.fields_for :ingredient do |r|%>
      <%= render 'ingredient_field', :f => r %>
    <%end%>
  </div>
</div>
