<h1>Search All Recipes</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Ingredient" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class"actions">
    <%= f.submit "Search" %></div>

<h1>View recipes</h1>
<% @recipes.each do |recipe| %>
<p>
  <%= recipe.name %><br>
  <%= link_to "Recipe Details","/recipes/#{recipe.id}" %>

</p>
<% end %>
<% end %>
