<div>
    <center>
          <h2>What ingredients do you want to juice today</h2>
              <div class="search_form">
                <form action="/recipes" method="GET">
                <label for="search_field">Search your favorite ingredients</label>
                <input id="search_field" type="text" name="query">
                <input type="submit">
              </form>
            </div>

            </center>
              <div class="row">

                <div class="rec" >
                  <div class="shadow">
                  </br>


    <div class="category">
      <div class="container-fluid">
        <div class="row" >

          <% @recipes.each do |recipe| %>

            <div class="col-lg-4">
              <table class="table-roundedr">
                          <tr>
                            <th colspan="2"><center><%= link_to recipe.name, "/recipes/#{recipe.id}" %></center></th>
                          </tr>
                          <tr>
                            <td><img src="/assets/recipeimages/<%= recipe.image %>" alt="juice" width="200" height="200"></td>
                            <td>
                              <center><h4>Ingredient List</h4> </center>
                              <ul>
                                <% recipe.ingredients_recipes.each do |ingredient_recipe| %>
                                  <li style="list-style-type:square"><h5><b><%= ingredient_recipe.ingredient.name %></b></h5></li>
                                  <li style="list-style-type:none" > <h5>Quantity: <%= ingredient_recipe.quantity%> <%= ingredient_recipe.unit.unit_name%> </h5></li>
                                <% end %>
                              </ul>

                            </td>
                          </tr>
                        </table>

              </br>
            </div>

          <% end %>


        </div>
      </div>
    </div>


                </div>
              </div>
        </div>

</div>
