<h1>Search All Recipes</h1>

<div class="search">
<%= form_tag recipes_url, method: 'get' do%>
  <%= text_field_tag :query, params[:query], placeholder: 'Ingredient'%>
<%= submit_tag 'Find'%>
<%end%>
</div>


<h1>View recipes</h1>
<% @recipes.each do |recipe| %>
<p>
  <%= recipe.name %><br>
  <%= link_to "Recipe Details","/recipes/#{recipe.id}" %>

</p>
<% end %>
