<div class = "search_container">

  <div class="search_form">
    <h2>Juice Recipes</h2>
              <!-- <div class="search_form"> -->
    <form action="/recipes" method="GET">
      <label for="search_field">
        Search your favorite ingredients
      </label>
      <input id="search_field" type="text" name="query">
      <input type="submit">
    </form>
  </div>

  <div class="container-fluid">
    <div class="row">
       <% @recipes.each do |recipe| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card">
          <div class="thumbnail">
          <br>
            <a href="/recipes/<%= recipe.id %>"> <%=image_tag recipe.image.url(:thumb) %>
            </a>
            <div class="caption">
              <h4><strong><%= recipe.name %></strong></h4>
              <hr >
              <h4><b> Ingredients</b></h4>
              <% if recipe.ingredients_recipes.size <= 3%>
                <ul>
                  <% recipe.ingredients_recipes.each do |ingredient_recipe| %>
                    <li style="list-style-type:none"><%= ingredient_recipe.ingredient.name %>
                    </li>
                  <% end %>
                </ul>
              <%else%>
                <ul>
                  <% recipe.ingredients_recipes.first(3).each do |ingredient_recipe| %>
                    <li style="list-style-type:none"><%= ingredient_recipe.ingredient.name %>
                    </li>
                  <% end %>
                </ul>
                <p class = "dots"><%=link_to "...", recipe_path(recipe)%></p>
              <%end%>
              <a class="btn-success recipe_btn" href="/recipes/<%= recipe.id %>">Recipe</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
