<%= form_for @recipe do |f|%>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="ingredients_recipes" class="ingredients_recipes_list">
    <%=f.fields_for :ingredients_recipes do |r|%>
    <%= render 'ingredients_recipe_fields', :f => r %>
    <%end%>
  </div>

  <div class = "links">
      <%= link_to_add_association 'add ingredient', f, :ingredients_recipes %>
  </div>

    <%= f.submit %>

<%end%>
