

<div class="container-fluid content">
  <div class="row recipe_name">
    <h3><%= @recipe.name %></h3>
    <div class = "edit_link">
      <%= link_to "click here to edit the recipe", edit_recipe_path(@recipe) %>
    </div>
    <div class="col-md-6 recipe_img ">
      <img src="/assets/recipeimages/<%= @recipe.image %>" alt="juice">

    </div>
    <div class="col-md-6 ingredient_list">
      <h4>Ingredient List</h4>
      <ul class = "list">
        <% @recipe.ingredients_recipes.each do |ingredient_recipe| %>

          <li class = "ingredient_name">
            <%= ingredient_recipe.ingredient.name %>
          </li>
          <li class = "ingredient_quantity">
             Quantity: <%= ingredient_recipe.quantity%> <%= ingredient_recipe.unit.unit_name%>
           </li><br />
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row nutrition_review">
    <div class="col-md-6 review_container">
      <div class = "review_report">
        <%@recipe.total_rating.times do %>
          &starf;
        <%end%>
        <%(5 - @recipe.total_rating).times do %>
          &star;
        <%end%>
        <%=link_to @recipe.reviews.count.to_s + ' reviews', recipe_reviews_path(@recipe)%>
      </div>
      <h4> How do you like the Juice</h4>
      <%= form_for([@recipe, @review]) do |f| %>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <%= f.radio_button :rating, 1 %>
            <input type="radio" name="options" id="option1" autocomplete="off" checked>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>

          <label class="btn btn-primary">
            <%= f.radio_button :rating, 2 %>
            <input type="radio" name="options" id="option2" autocomplete="off">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>

          <label class="btn btn-primary">
            <%= f.radio_button :rating, 3 %>
            <input type="radio" name="options" id="option3" autocomplete="off">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>
          <label class="btn btn-primary">
             <%= f.radio_button :rating, 4 %>
            <input type="radio" name="options" id="option2" autocomplete="off">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </label>

          <label class="btn btn-primary">
            <%= f.radio_button :rating, 5 %>
            <input type="radio" name="options" id="option3" autocomplete="off">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
           </label>
        </div>
        <div class = 'comment_box'>
          <%= f.label :comment %><br />
          <%= f.text_area :comment %>
        </div>
          <%= f.submit "submit review"%>
      <% end %>

    <!-- <p><h3>Reviews for <%= @recipe.name %></h3></p> -->


      <!-- <% @recipe.reviews.each do |review| %>
        <% if review.user != nil %>
          <ul id="reviewoutput" style="list-style: none">
          <li>Comment:
            <%= review.comment %>
          </li>
          <li id = 'rate'>
          <span class = 'star'>&starf;</span>
            <% review.rating.times do %>
              &starf;
            <% end %>
          </li>

          <li>
            By
            <span class = 'commenter'><%=link_to  review.user.user_name, user_path(current_user) %>
          </span>
          on <%= review.created_at.strftime('%b %e, %Y')%>
          </li><br />
          </ul>
        <% end %>
      <% end %> -->

  </div>

  <div class="col-md-6">
    <table class = "nutrition_facts">
      <thead>
        <tr>
          <th>Nutrition facts</th>
          <th></th>
        </tr>
        <tr>
          <td class = "left_cell">Serving Size 1/2 cup</td>
          <td class = "right_cell">125 g</td>
        </tr>
      </thead>
        <tr>
          <td class = "left_cell"> Amount per serving</td>
          <td class = " daily_value_cell right_cell">%Daily Value</td>
        </tr>
        <tr>
          <td class = "left_cell divider">Calories <%=@recipe.get_nutrient('calory')%></td>
          <td class = "right_cell divider"></td>
        </tr>
        <tr>
          <td class = "left_cell">Total Fat</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "sub_cell left_cell">Saturated Fat <%=@recipe.get_nutrient('saturated_fat')%> g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "sub_cell td left_cell">Trans Fat 0g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "left_cell">Cholestrol 0 g</td>
          <td class = "right_cell">0%</td>
        </tr>
        <tr>
          <td class = "left_cell">Sodium <%=@recipe.get_nutrient('sodium')%> mg</td>
          <td class = "right_cell"><%=@recipe.daily_value('sodium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell"> Total Carbohydrates <%=@recipe.get_nutrient('carbohydrate')%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value('carbohydrate')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell sub_cell">Dietary Fiber <%= @recipe.get_nutrient("fiber")%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value("fiber")%> %</td>
        </tr>
        <tr >
          <td class = "left_cell sub_cell">Sugars <%= @recipe.get_nutrient("sugar")%> g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "left_cell divider">Protein <%= @recipe.get_nutrient("protein")%> g</td>
          <td class = "right_cell divider"s></td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin A</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitA")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin C</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitC")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Calcium</td>
          <td class = "right_cell"><%=@recipe.daily_value('calcium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Iron</td>
          <td class = "right_cell"><%=@recipe.daily_value('iron')%> %</td>
        </tr>
        <tfoot>
          <td>Percent Daily Values are based on a 2,000 calori diet.</td>
          <td class = "right_cell"></td>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class = 'modal'>
  <p class= 'thanks'>
    Thanks for your review.
  </p>
  <button type="button" class="close">x</button>
</div>
