
    <h1><%= @recipe.name %></h1><%= link_to "edit", edit_recipe_path(@recipe) %>

  <div class="row">
    <div class="col-md-4">
      <img src="/assets/recipeimages/<%= @recipe.image %>" alt="juice">
    </div>
    <div class="col-md-4">
      <h3>Ingredient List</h3>
      <ul >
        <% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
          <li style="list-style-type:square"><b><%= ingredient_recipe.ingredient.name %></b></li>
          <li style="list-style-type:none" > Quantity: <%= ingredient_recipe.quantity%> <%= ingredient_recipe.unit.unit_name%></li>
        <% end %>
      </ul>
    </div>

      </form>
    </div>
  </div>
</div>
<h4>Ratings</h4>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">


        <%= form_for([@recipe, @review]) do |f| %>
        <h4> How do you like the Juice</h4>
             <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-primary active">
                 <%= f.radio_button :rating, 1 %>
                 <input type="radio" name="options" id="option1" autocomplete="off" checked>
                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </label>
               <label class="btn btn-primary">
                 <%= f.radio_button :rating, 2 %>
                 <input type="radio" name="options" id="option2" autocomplete="off">
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </label>
               <label class="btn btn-primary">
                 <%= f.radio_button :rating, 3 %>
                 <input type="radio" name="options" id="option3" autocomplete="off">
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </label>
               <label class="btn btn-primary">
                 <%= f.radio_button :rating, 4 %>
                 <input type="radio" name="options" id="option2" autocomplete="off">
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </label>
               <label class="btn btn-primary">
                 <%= f.radio_button :rating, 5 %>
                 <input type="radio" name="options" id="option3" autocomplete="off">
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </label>
             </div>
             <div>
                   <%= f.label :comment %><br />
                   <%= f.text_area :comment %>
             </div>
             <div>
                   <%= f.submit %>
                 </div>
        <% end %>




    <p><h3>Reviews for <%= @recipe.name %></h3></p>
    <ul id="reviewoutput" style="list-style: none">

            <% @recipe.reviews.each do |review| %>
              <li>Comment:<%= review.comment %></li>
              <li>Rating:</b><%= review.rating %></li>
                  <% if review.user != nil %>
              <li>User:</b> <%= review.user.user_name %></li>
              <li>On this date:</b> <%= review.created_at%></li>
                  <% end %>
            <% end %>
          </ul>
  </div>


  <div class="col-md-4">
    <h3>HERE WILL GO THE NUTRITION VALUES</h3>
    <table class = "nutrition_facts">
      <thead>
        <tr>
          <th>Nutrition facts</th>
          <th></th>
        </tr>
        <tr>
          <td class = "left_cell">Serving Size 1/2 cup</td>
          <td class = "right_cell">125 g</td>
        </tr>
      </thead>
        <tr>
          <td class = "left_cell"> Amount per serving</td>
          <td class = " daily_value_cell right_cell">%Daily Value</td>
        </tr>
        <tr>
          <td class = "left_cell divider">Calories <%=@recipe.get_nutrient('calory')%></td>
          <td class = "right_cell divider"></td>
        </tr>
        <tr>
          <td class = "left_cell">Total Fat</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "sub_cell left_cell">Saturated Fat <%=@recipe.get_nutrient('saturated_fat')%> g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "sub_cell td left_cell">Trans Fat 0g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "left_cell">Cholestrol 0 g</td>
          <td class = "right_cell">0%</td>
        </tr>
        <tr>
          <td class = "left_cell">Sodium <%=@recipe.get_nutrient('sodium')%> mg</td>
          <td class = "right_cell"><%=@recipe.daily_value('sodium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell"> Total Carbohydrates <%=@recipe.get_nutrient('carbohydrate')%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value('carbohydrate')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell sub_cell">Dietary Fiber <%= @recipe.get_nutrient("fiber")%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value("fiber")%> %</td>
        </tr>
        <tr >
          <td class = "left_cell sub_cell">Sugars <%= @recipe.get_nutrient("sugar")%> g</td>
          <td class = "right_cell"></td>
        </tr>
        <tr>
          <td class = "left_cell divider">Protein <%= @recipe.get_nutrient("protein")%> g</td>
          <td class = "right_cell divider"s></td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin A</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitA")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin C</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitC")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Calcium</td>
          <td class = "right_cell"><%=@recipe.daily_value('calcium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Iron</td>
          <td class = "right_cell"><%=@recipe.daily_value('iron')%> %</td>
        </tr>
        <tfoot>
          <td>Percent Daily Values are based on a 2,000 calori diet.</td>
          <td class = "right_cell"></td>
        </tfoot>
      </table>
    </div>

  </div>
</div>
