<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
    <h1><%= @recipe.name %></h1>
      
      </div>
    </div>
    <div class="col-md-4">
      <h2>
        Juicing Article
      </h2>
      <p> Here will be a really cool article about juicing
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">


          <img src="/assets/recipeimages/<%= @recipe.image %>" alt="juice">
        <!-- <img  src="assets/green.jpg" alt="juice"> -->
    </div>
    <div class="col-md-4">
      <h3>Ingredient List</h3>
      <ul >
        <% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
          <li style="list-style-type:square"><b><%= ingredient_recipe.ingredient.name %></b></li>
          <li style="list-style-type:none" > Quantity: <%= ingredient_recipe.quantity%> <%= ingredient_recipe.unit.unit_name%></li>
        <% end %>
      </ul>
    </div>


        <button type="submit" class="btn btn-default">
          Submit
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
    </div>
  </div>
</div>
<h4>Ratings</h4>

        Which Juicer should you buy
      </h2>
      <p> Let us show you our findings</p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">


        <%= form_for([@recipe, @review]) do |f| %>
            <h4> How do you like the Juice</h4>
            <div>
                <%= f.radio_button :rating, 1 %>
                <%= f.label :rating_1, "$" %>
                <%= f.radio_button :rating, 2 %>
                <%= f.label :rating_2, "$$" %>
                <%= f.radio_button :rating, 3%>
                <%= f.label :rating_3, "$$$" %>
                <%= f.radio_button :rating, 4 %>
                <%= f.label :rating_4, "$$$$" %>
                <%= f.radio_button :rating, 5 %>
                <%= f.label :rating_5, "$$$$$$" %>
            </div>
            <div>
                  <%= f.label :comment %><br />
                  <%= f.text_area :comment %>
            </div>
            <div>
                  <%= f.submit %>
            </div>
        <% end %>




    <p><h3>Reviews for <%= @recipe.name %></h3></p>
    <ul id="reviewoutput" style="list-style: none">

            <% @recipe.reviews.each do |review| %>
              <li>Comment:<%= review.comment %></li>
              <li>Rating:</b><%= review.rating %></li>
                  <% if review.user != nil %>
              <li>User:</b> <%= review.user.user_name %></li>
              <li>On this date:</b> <%= review.created_at%></li>
                  <% end %>
            <% end %>
          </ul>
  </div>


    <div class="col-md-4">
      <h3>HERE WILL GO THE NUTRITION VALUES</h3>
      <ul class="list-unstyled">
        <li>
          iron: <%=@recipe.get_nutrient('iron')%> mg    <%=@recipe.daily_value('iron')%> %
        </li>

        <li>
          calcium: <%=@recipe.get_nutrient('calcium')%> mg  <%=@recipe.daily_value('calcium')%> %
        </li>
        <li>
          Integer molestie lorem at massa
        </li>
        <li>
          Facilisis in pretium nisl aliquet
        </li>
        <li>
          Nulla volutpat aliquam velit
        </li>
        <li>
          Faucibus porta lacus fringilla vel
        </li>
        <li>
          Aenean sit amet erat nunc
        </li>
        <li>
          Eget porttitor lorem
        </li>

      </ul>
    </div>
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
    </div>
  </div>
</div>
