<h1><%= @recipe.name %></h1>
Name: <%= @recipe.name %><br>
Ingredients:

<% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
  Name: <%= ingredient_recipe.ingredient.name %><br>
  quantity: <%= ingredient_recipe.quantity %><br>
<% end %>

<%= link_to "All Recipes", recipes_path %><br>

<%= link_to "Back to profile", user_path  %>

<h4>Ratings</h4>


<h4>Reviews</h4>
  <p> Reviews for <%= @recipe.name %></p>
    <%= @reviews.each do |review| %>
      <p>
        <%= review.comment %></br>
        <% if review.user != nil %>
        <em> by <%= review.created_at%></em>
          <em> by <%= review.rating %></em>
        <%= link_to "edit", edit_reciep_product_path(@recipe,review) %>
        <% end %>
      </p></div>
      <% end %>


  <h4>New Review</h4>
  <%= form_for([@recipe,@review]) do |f| %>
      <div class="field">
          <%= f.label :comment %><br />
          <%= f.text_area :comment %><br />
          <%= f.label :rating %><br />
          <%= f.number_field :rating %>
      </div>
      <div class="actions">
          <%= f.submit %>

<% end %>



<!-- the link needs to session back to the logged in user not any user  -->
