<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
    <h1><%= @recipe.name %></h1>
      </div>
    </div>
    <div class="col-md-4">
      <h2>
        Juicing Article
      </h2>
      <p> Here will be a really cool article about juicing
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">


      <img src="/assets/glass.jpg" alt="apple">
        <!-- <img  src="assets/green.jpg" alt="juice"> -->
    </div>
    <div class="col-md-4">
      <h3>Ingredient List</h3>
      <ul >
        <% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
          <li style="list-style-type:square"><b><%= ingredient_recipe.ingredient.name %></b></li>
          <li style="list-style-type:none" > Quantity: <%= ingredient_recipe.quantity%> <%= ingredient_recipe.unit.unit_name%></li>
        <% end %>
      </ul>
    </div>


        <button type="submit" class="btn btn-default">
          Submit
        </button>
      </form>
    </div>

    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
    </div>
  </div>
</div>
<h4>Ratings</h4>

        Which Juicer should you buy
      </h2>
      <p> Let us show you our findings</p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">


        <%= form_for([@recipe, @review]) do |f| %>
            <h4> How do you like the Juice</h4>
            <div>
                <%= f.radio_button :rating, 1 %>
                <%= f.label :rating_1, "$" %>
                <%= f.radio_button :rating, 2 %>
                <%= f.label :rating_2, "$$" %>
                <%= f.radio_button :rating, 3%>
                <%= f.label :rating_3, "$$$" %>
                <%= f.radio_button :rating, 4 %>
                <%= f.label :rating_4, "$$$$" %>
                <%= f.radio_button :rating, 5 %>
                <%= f.label :rating_5, "$$$$$$" %>
            </div>
            <div>
                  <%= f.label :comment %><br />
                  <%= f.text_area :comment %>
            </div>
            <div>
                  <%= f.submit %>
            </div>
        <% end %>




    <p><h3>Reviews for <%= @recipe.name %></h3></p>

      <% @recipe.reviews.each do |review| %>
        <p>

          <b>  Comment:</b><%= review.comment %></br>
<% if review.user != nil %>
              <b> here is my rating:</b> <%= review.user.user_name %></br>
              <b>on this date:</b> <%= review.created_at%>
              <% end %>
        </p>
        <% end %>

  </div>


  <div class="col-md-4">
    <h3>HERE WILL GO THE NUTRITION VALUES</h3>
    <table class = "nutrition_facts">
      <thead>
        <tr>
          <th>Nutrition facts</th>
        </tr>
        <tr>
          <td>Serving Size 1/2 cup</td>
          <td>125 g</td>
        </tr>
      </thead>
        <tr>
          <td class = "left_cell"> Amount per serving</td>
          <td class = "right_cell">%Daily Value</td>
        </tr>
        <tr>
          <td class = "left_cell divider">Calories <%=@recipe.get_nutrient('calory')%></td>
        </tr>
        <tr>
          <td class = "left_cell">Total Fat</td>
        </tr>
        <tr>
          <td class = "sub_cell left_cell">Saturated Fat <%=@recipe.get_nutrient('saturated_fat')%> g</td>

        </tr>
        <tr>
          <td class = "sub_cell td left_cell">Trans Fat 0g</td>
        </tr>
        <tr>
          <td class = "left_cell">Cholestrol 0 g</td>
          <td class = "right_cell">0%</td>
        </tr>
        <tr>
          <td class = "left_cell">Sodium <%=@recipe.get_nutrient('sodium')%> mg</td>
          <td class = "right_cell"><%=@recipe.daily_value('sodium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell"> Total Carbohydrates <%=@recipe.get_nutrient('carbohydrate')%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value('carbohydrate')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell sub_cell">Dietary Fiber <%= @recipe.get_nutrient("fiber")%> g</td>
          <td class = "right_cell"><%=@recipe.daily_value("fiber")%> %</td>
        </tr>
        <tr >
          <td class = "left_cell sub_cell">Sugars <%= @recipe.get_nutrient("sugar")%> g</td>
        </tr>
        <tr>
          <td class = "left_cell divider">Protein <%= @recipe.get_nutrient("protein")%> g</td>
          <td class = "right_cell hidden">9</td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin A</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitA")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Vitamin C</td>
          <td class = "right_cell"><%=@recipe.daily_value("vitC")%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Calcium</td>
          <td class = "right_cell"><%=@recipe.daily_value('calcium')%> %</td>
        </tr>
        <tr>
          <td class = "left_cell">Iron</td>
          <td class = "right_cell"><%=@recipe.daily_value('iron')%> %</td>
        </tr>
        <tfoot>
          <td>Percent Daily Values are based on a 2,000 calori diet.</td>
        </tfoot>
      </table>
    </div>
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
    </div>
  </div>
</div>
