<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
		<h1><%= @recipe.name %></h1>
			</div>
		</div>
		<div class="col-md-4">
			<h2>
				Juicing Article
			</h2>
			<p> Here will be a really cool article about juicing
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">


      <img src="/assets/glass.jpg" alt="apple">
  			<!-- <img  src="assets/green.jpg" alt="juice"> -->
		</div>
		<div class="col-md-4">
      <h3>Ingredient List</h3>
			<ul >
        <% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
          <li style="list-style-type:square"><b><%= ingredient_recipe.ingredient.name %></b></li>
          <li style="list-style-type:none" > Quantity: <%= ingredient_recipe.quantity %></li>
        <% end %>
			</ul>
		</div>
		<div class="col-md-4">
      <h2>
				Which Juicer should you buy
			</h2>
			<p> Let us show you our findings</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
        <h3>Reviews</h3>
          <h4> How do you like the Juice</h4>
			<div class="btn-group btn-group-sm">

				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-star"></em> 1 Star
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-star"></em>  2 Star
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-star"></em>  3 Star
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-star"></em>  4 Star
				</button>
        <button class="btn btn-default" type="button">
          <em class="glyphicon glyphicon-star"></em>  5 Star
        </button>
			</div>



          <%= @reviews.each do |review| %>

              <%= review.comment %></br>
              <% if review.user != nil %>
               by <%= review.created_at%>
                 by <%= review.rating %>
              <%= link_to "edit", edit_reciep_product_path(@recipe,review) %>
              <% end %>

            <% end %>

			<form role="form">
				<div class="form-group">

					<label for="exampleInputEmail1">
						Email address
					</label>
					<input type="email" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="form-group">

					<label for="exampleInputPassword1">
						Password
					</label>
					<input type="password" class="form-control" id="exampleInputPassword1" />
				</div>


				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>
		</div>
		<div class="col-md-4">
      <h3>HERE WILL GO THE NUTRITION VALUES</h3>
			<ul class="list-unstyled">
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
		</div>
	</div>
</div>
<h4>Ratings</h4>





  <h4>New Review</h4>
  <%= form_for([@recipe,@review]) do |f| %>
      <div class="field">
          <%= f.label :comment %><br />
          <%= f.text_area :comment %><br />
          <%= f.label :rating %><br />
          <%= f.number_field :rating %>
      </div>
      <div class="actions">
          <%= f.submit %>

          <% end %>
