
<div class="user_name">
 <h1><%=current_user.user_name%>'s Juice Recipes</h1>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 card">
          <div class="thumbnail">
            <br>
            <h4><%= recipe.name %></h4>
            <%=image_tag recipe.image.url(:thumb) %>
            <div class="caption">
              <span class = "source">Great source of <br ><%= recipe.source_of%></span>
              <hr >
              <a class="btn-success my_recipe_btn" href="/recipes/<%= recipe.id %>">Recipe</a>
              <hr>
              <h4>Rating:</h4>
              <div class = "my_recipe_rating">
                <%if recipe.total_rating == 'No reviews available'%>
                  <%(5).times do %>
                    &star;
                  <%end%>
                <%else%>
                  <%recipe.total_rating.times do %>
                    &starf;
                  <%end%>
                  <%(5 - recipe.total_rating).times do %>
                    &star;
                  <%end%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class = "pagination">
<%= will_paginate @recipes%>
<br>
</div>
