
<center>
<div class="user_recipe">
 <p><%=current_user.user_name%>'s recipes</p>
</div>
</center>

  <div class="row">
<div class="usr">


</div>

    <div class="container-fluid">
<div class="container">
	<div class="row">
      <% @recipes.each do |recipe| %>
	    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 card">
    		<div class="thumbnail">
          <br>
          Great source of <%= recipe.source_of%>
    		  <%=image_tag recipe.image.url(:thumb) %>
    			<div class="caption">
    				<%= recipe.name %>
    				<hr >


              <a class="btn-success" href="/recipes/<%= recipe.id %>">Recipe</a>
              <hr>
            <h3>Rating:</h3>
           <%if recipe.total_rating == 'No reviews available'%>
            <%= recipe.total_rating%>
            <%else%>
            <%  recipe.total_rating.times do %>
              &starf;
            <%end%>

              <%end%>
        </div>
    		</div>
    	</div>

          <% end %>
    	</div>
</div>
<center><%= will_paginate @recipes%></center>
</div>
