<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("Juice_logo.png")%></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="responsive_navbar">
      <ul class="nav navbar-nav">
          <li><%= link_to 'My Recipes',current_user %></li>
          <li><%= link_to 'Create a Recipe',new_recipe_url %></li>
          <li><%= link_to 'Search a Recipe' , recipes_url %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li id="hey">Hey <%= current_user.user_name %></li>
          <li><%= link_to 'Logout',:logout, method: :post %></li>
        <% else %>
          <li><%= link_to 'Login', :login %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
