<div class= "home_container">
<div class="container bg-overlay">
  <div class="row text-center">

    <h1>Why Juice? <br>
    Think about a healthy beverage. <h1>
  <h4>You're probably thinking about juice.<br>
     If anything with the word 'diet' in it just crept into your mind,<br>
      you better keep reading.</h4>
  </div>
</div>
<br>
<div class="container-fluid">
      <div class="row">
          <div class="col-md-12 home">
              <center> <h1>Why Juice</h1></center>
                <hr>
            </div>

      </div>
      <div class="row">
            <div class="services-wrapper">
                  <div class="col-md-4 cards">
                  <div class="inside">
                  <div class="circle-badge" style="background:#f7941e">
                    <%= image_tag("lime.png")%>
                  </div>
                  <h3>Healthy</h3>
                  <h4>Fresh fruit and vegetable juices have the power of nature's healing properties and nutritional building blocks to bring
                     you closer to better health and well-being than you've ever been before.</h4>
                  </div>
                  </div>

                    <div class="col-md-4 cards">
                     <div class="inside">
                    <div class="circle-badge" style="background:#f7941e">
                     <%= image_tag("kiwi.jpg")%>
                    </div>
                    <h3>Fresh</h3>
                    <h4>Fresh juices are nutritionally packed, mega-amplified live juice that is brilliant
                       to taste, loaded with enzymes, vitamins and vital trace minerals</h4>
                    </div>
                    </div>

                    <div class="col-md-4 cards">
                     <div class="inside">
                    <div class="circle-badge" style="background:#f7941e">
                      <%= image_tag("vegicon.png")%>
                    </div>
                    <h3>Detoxify</h3>
                    <h4> Fresh juice is especially important for your immune system, which is constantly fending off
                      assaults from bacteria, viruses, environmental toxins and stress</h4>
                      </div>
                    </div>
          </div>
      </div>
</div>



<div class="container-fluid home">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><center> Recent Articles</centre></h1>
        <hr>
          <center>Learn About Some Useful Facts</center>
        </h1>
      </div>
    </div>
  </div>


      <div class="row">

<% article_ids = Article.pluck(:id).to_a %>
<% sample_ids = article_ids.sample(3) %>
<% featured_articles = Article.where("id in (?)", sample_ids) %>
<% featured_articles.each do |article| %>
  <div class="col-sm-6 col-md-4 col-lg-4">

            <div class="thumbnail_slider">
                <div class="caption_slider">
                  <center>  <h4><%= article.title %></h4></center>

                   <a class="btn btn-default" href="\articles\<%= article.id %>">Read</a>

                </div>
              <%= image_tag("#{article.image}")  %>
            </div>

        </div>
        <% end %>


</div>
<br>
<!-- team-->
   <!-- <section id="team"> -->
     <div class="container fluid">
       <div class="row">
           <div class="col-md-12">
           <h1><center>Our team</centre></h1>
             <hr>
         </div>
           <div class="row team">
           <!-- team-member-->
           <div class="col-md-3 col-sm-6 col-lg-3">
             <div class="team-member">
               <div class="image"><a href="#">  <%= image_tag("swapna.jpg")%></a></div>
               <h3><a href="https://www.linkedin.com/in/swapnabrungi/" target="_blank">Swapna Brungi</a></h3>
               <p class="role">Head Juicer</p>
               <div class="social"> <a href="https://github.com/SwapnaBru" target="_blank" class="external facebook" data-animate-hover="pulse"><i
                     class="fa fa-github" style="font-size:36px"></i></a> <a href="https://www.linkedin.com/in/swapnabrungi/" target="_blank" class="external gplus"
                   data-animate-hover="pulse"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                 <a href="https://twitter.com/KimKardashian" target="_blank" class="external twitter" data-animate-hover="pulse"><i
                     class="fa fa-twitter" style="font-size:36px"></i></a> <a href="mailto:swapna.brungi@gmail.com" class="email"
                   data-animate-hover="pulse"><i class="fa fa-envelope" style="font-size:36px"></i></a>
               </div>
               <div class="text">
                 <p>Swapna likes long walks in the park with her dog and her favorite ingredient to juice is beets.</p>
               </div>
             </div>
           </div>
           <!-- team-member col end-->
           <!-- team-member-->
           <div class="col-md-3 col-sm-6">
             <div class="team-member">
               <div class="image"><a href="#"><%= image_tag("paul.jpg")%></a></div>
               <h3><a href="https://www.linkedin.com/in/paul-lam-144b64103/" target="_blank">Paul Lam</a></h3>
               <p class="role">Juice Guru</p>
               <div class="social"> <a href="https://github.com/dunoss" target="_blank" class="external facebook" data-animate-hover="pulse"><i
                     class="fa fa-github" style="font-size:36px"></i></a> <a href="https://www.linkedin.com/in/paul-lam-144b64103/" target="_blank" class="external gplus"
                   data-animate-hover="pulse"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                 <a href="https://twitter.com/KimKardashian" target="_blank" class="external twitter" data-animate-hover="pulse"><i
                     class="fa fa-twitter" style="font-size:36px"></i></a> <a href="mailto:paullamx@gmail.com" class="email"
                   data-animate-hover="pulse"><i class="fa fa-envelope" style="font-size:36px"></i></a>
               </div>
               <div class="text">
                 <p>Paul cycles all over the city looking for the best organic produce to juice. Paul's favorite juice is Kale, Carrot, Ginger.</p>
               </div>
             </div>
           </div>
           <!-- team-member col end-->
           <!-- team-member-->
           <div class="col-md-3 col-sm-6">
             <div class="team-member">
               <div class="image"><a href="#"><%= image_tag("azadeh.jpg")%></a></div>
               <h3><a href="https://www.linkedin.com/in/azadeh-bagheri/" target="_blank">Azadeh Bagheri</a></h3>
               <p class="role">Head Mixologist</p>
               <div class="social"> <a href="https://github.com/Azbagheri" target="_blank" class="external facebook" data-animate-hover="pulse"><i
                     class="fa fa-github" style="font-size:36px"></i></a> <a href="https://www.linkedin.com/in/azadeh-bagheri" target="_blank" class="external gplus"
                   data-animate-hover="pulse"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                 <a href="https://twitter.com/KimKardashian" target="_blank" class="external twitter" data-animate-hover="pulse"><i
                     class="fa fa-twitter" style="font-size:36px"></i></a> <a href="mailto:azadeh.bagheri7@gmail.com" class="email"
                   data-animate-hover="pulse"><i class="fa fa-envelope" style="font-size:36px"></i></a>
               </div>
               <div class="text">
                 <p>Azaheh has mad skills in the lab. She comes up with the crazest recipes. Her favorite juice is Apple, Cucumber, Spinach.</p>
               </div>
             </div>
           </div>
           <!-- team-member col end-->
           <!-- team-member-->
           <div class="col-md-3 col-sm-6">
             <div class="team-member">
               <div class="image"><a href="#"><%= image_tag("mark.jpg")%></a></div>
               <h3><a href="#">Mark Cyr</a></h3>
               <p class="role">Head Tester</p>
               <div class="social"> <a href="https://github.com/markcyr" target="_blank" class="external facebook" data-animate-hover="pulse"><i
                     class="fa fa-github" style="font-size:36px"></i></a> <a href="https://www.linkedin.com/in/mark-cyr/" target="_blank" class="external gplus"
                   data-animate-hover="pulse"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                 <a href="https://twitter.com/KimKardashian" target="_blank" class="external twitter" data-animate-hover="pulse"><i
                     class="fa fa-twitter" style="font-size:36px"></i></a> <a href="mailto:mark.cyr@msn.com" class="email"
                   data-animate-hover="pulse"><i class="fa fa-envelope" style="font-size:36px"></i></a>
               </div>
               <div class="text">
                 <p>Mark's claim to fame is that he will drink anything. If it will juice he will drink it. Mark loves Beet, Spinach, Carrot, Cucumber, Celery and Ginger.</p>
               </div>
             </div>
           </div>
         </div>
             </div>

           <!-- team-member col end--> </div>
</div>
