<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family= |Roboto| Open+Sans| Montserrat|Noto+Serif|Parisienne|Oxygen|Tillana|Quicksand" rel="stylesheet">
    <title>Juice</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "shared/navbar" %>

    <%= yield %>
    <footer class="footer">
    <div class="container">
      <p>© 2017 - Juice - All rights reserved 2016-2017.</p>
  </div>
</footer>

  </body>

</html>
